# Database Connection
DATABASE_URI=mongodb://127.0.0.1/portfolio

# Security
PAYLOAD_SECRET=your_secret_key_here

# Static site generation
PAYLOAD_PUBLIC_SITE_URL=http://localhost:3000

# Development settings
PORT=3000
